APP_NAME=Uptizm
APP_ENV=development
APP_DEBUG=true
APP_KEY=

API_URL=https://dev-app.uptizm.com/api/v1

# Sentry
SENTRY_DSN=
SENTRY_SAMPLE_RATE=1.0
SENTRY_TRACES_SAMPLE_RATE=1.0
SENTRY_PROFILES_SAMPLE_RATE=1.0
SENTRY_REPLAY_SESSION_RATE=1.0
SENTRY_REPLAY_ERROR_RATE=1.0
