[submodule "references/magic"]
	path = references/magic
	url = https://github.com/fluttersdk/magic.git
	branch = master
[submodule "references/magic_starter"]
	path = references/magic_starter
	url = https://github.com/fluttersdk/magic_starter.git
	branch = main
[submodule "references/wind"]
	path = references/wind
	url = https://github.com/fluttersdk/wind.git
	branch = v1
[submodule "references/flutter_skill"]
	path = references/flutter_skill
	url = https://github.com/ai-dashboad/flutter-skill.git
[submodule "references/playwright-cli"]
	path = references/playwright-cli
	url = https://github.com/microsoft/playwright-cli.git
[submodule "references/magic_deeplink"]
	path = references/magic_deeplink
	url = git@github.com:fluttersdk/magic_deeplink.git
	branch = develop
[submodule "references/magic_notifications"]
	path = references/magic_notifications
	url = git@github.com:fluttersdk/magic_notifications.git
	branch = develop
[submodule "references/magic_social_auth"]
	path = references/magic_social_auth
	url = git@github.com:fluttersdk/magic_social_auth.git
	branch = develop
[submodule "references/fluttersdk_artisan"]
	path = references/fluttersdk_artisan
	url = git@github.com:fluttersdk/artisan.git
	branch = develop
[submodule "references/fluttersdk_dusk"]
	path = references/fluttersdk_dusk
	url = git@github.com:fluttersdk/dusk.git
	branch = develop
[submodule "references/fluttersdk_telescope"]
	path = references/fluttersdk_telescope
	url = git@github.com:fluttersdk/telescope.git
	branch = develop
[submodule "references/fluttersdk_wind_diagnostics_contracts"]
	path = references/fluttersdk_wind_diagnostics_contracts
	url = git@github.com:fluttersdk/wind_diagnostics_contracts.git
