[submodule "references/magic"]
	path = references/magic
	url = https://github.com/fluttersdk/magic.git
	branch = master
[submodule "references/magic_starter"]
	path = references/magic_starter
	url = https://github.com/fluttersdk/magic_starter.git
	branch = main
[submodule "references/wind"]
	path = references/wind
	url = https://github.com/fluttersdk/wind.git
	branch = v1
[submodule "references/flutter_skill"]
	path = references/flutter_skill
	url = https://github.com/ai-dashboad/flutter-skill.git
[submodule "references/playwright-cli"]
	path = references/playwright-cli
	url = https://github.com/microsoft/playwright-cli.git
[submodule "references/ai-test"]
	path = references/ai-test
	url = https://github.com/fluttersdk/ai-test.git
